<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">


<!-- Creación de dependencia -->
<bean id="miInforme" class="proyectospring.es.IoC.Informe"> </bean>

<!-- Generador de beans o motor: Proporcionar los objetos que le estamos pidiendo -->
<!-- class: Donde se encuentra la clase -->
<bean id="miEmpleado" class="proyectospring.es.IoC.JefeEmpleado">
	<constructor-arg ref="miInforme">
	</constructor-arg>
</bean>

<!--BEAN PARA INYECCION DE DEPENDECIAS CON SETTER -->
<bean id="miSecretarioEmpleado" class="proyectospring.es.IoC.SecretarioEmpleado">
	<!-- Cuando trabajamos con setter usamos property y name es el nombre del setter-->
	<!-- setInformeNuevo quedaria como informeNuevo-->
	<property name="informeNuevo" ref="miInforme"></property>
	<!-- agregamos tambien la referencia -->
	
	<property name="email" value="secretaria@email.com"></property>
	<property name="nombreEmpresa" value="lic valeriano"></property>
</bean>

</beans>